@media (max-width: 1200px) {
    .stat-wrapper {
        grid-template-columns: repeat(3, 250px);
    }
}


@media (max-width: 880px) {
    .stat-wrapper {
        grid-template-columns: repeat(2, 250px);
    }
}

@media (max-width: 570px) {
    .stat-wrapper {
        grid-template-columns: repeat(1, 250px);
    }
}

@media (max-width: 425px) {
    #submit-btn {
        height: 35px;
    }

    .platform-btns {
        display: flex;
        flex-direction: column;
    }
}