* {
    margin: 0;
    padding: 0;
}

.header {
    height: 150px;
    background-image: url(images/Apex-Legends_Header.png);
    background-position: center;
}

.header img {
    max-width: 200px;
    min-width: 200px;
    width: 20%;
}

.main-page-container {
    min-height: calc(100vh - 150px);
    height: calc(100% - 150px);
    background-color: #484848;
}

.searchinfo {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

#name-input {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: 0;
    padding-left: 20px;
}

#submit-btn {
    width: 50px;
    border-radius: 10px;
    background-color: grey;
    border: 0;
}

#submit-btn:hover {
    cursor: pointer;
}

#submit-btn:active {
    box-shadow: 1px 1px 5px black;
}

.fab {
    font-size: 1.4em;
    padding: 5px;
    color: #777777;
}

.fab:hover {
    cursor: pointer;
}

.stat-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-gap: 4em;
}

#stats-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
}

.stats-display-wrapper {
    margin-top: 50px;
}

.stat {
    height: 70px;
    background-color: #222222;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}